<section
  class="flex flex-col md:flex-row items-center justify-between py-12 p-2 md:p-0"
>
  <div class="flex-col md:w-1/2 space-y-6">
    <div class="relative">
      <div
        class="absolute top-0 left-0 w-16 h-1 bg-primary-light dark:bg-primary-dark"
      >
      </div>
      <h3 class="text-3xl font-bold text-text-light dark:text-text-dark z-10">
        ¿Lorem ipsum dolor?
      </h3>
    </div>

    <p class="text-lg text-gray-700 dark:text-gray-300">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam fugiat
      provident, doloremque sequi incidunt at eveniet, ex minima sit quae
      perferendis repellat deserunt fugit dolorem ut expedita cumque suscipit
      eum, magni optio aut odio dolor. Laudantium, consequatur laborum? Quaerat,
      eaque!
    </p>

    <div class="relative">
      <div
        class="absolute bottom-0 right-0 w-16 h-1 bg-primary-light dark:bg-primary-dark"
      >
      </div>
    </div>
  </div>

  <div class="mt-8 md:mt-0 md:w-1/2 md:ml-8 relative">
    <div
      class="overflow-hidden rounded-lg shadow-lg transform transition-transform hover:scale-105"
    >
      <img src="/image2.jpg" alt="" class="w-full h-auto object-cover" />
    </div>
  </div>
</section>
