<div class="md:hidden flex items-center">
  <button
    id="menu-toggle"
    class="text-text-light dark:text-text-dark focus:outline-none"
  >
    <svg
      class="h-8 w-8"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const closeMenu = document.getElementById("close-menu");

    if (menuToggle && mobileMenu && closeMenu) {
      menuToggle.addEventListener("click", function () {
        mobileMenu.classList.remove("hidden");
      });

      closeMenu.addEventListener("click", function () {
        mobileMenu.classList.add("hidden");
      });
    }
  });
</script>
