---
import Layout from "../layouts/Layout.astro";
import {es} from "../langs/es.ts";
import Hero from "../components/services/Hero.astro";

const {lang} = Astro.params;
const translations = lang === "es" ? es : es;
---

<Layout title="Servicios" lang={lang} translations={translations}>
  <div class="mt-10">
    <Hero />
  </div>
</Layout>
