---
import {es} from "../langs/es.ts";
import Desktop from "./Navs/Desktop.astro";
import Mobile from "./Navs/Mobile.astro";
import MobileMenuButton from "./Navs/MobileMenuButton.astro";
---

<nav
  id="navbar"
  class="bg-transparent sticky top-0 z-40 transition-all duration-300"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <!-- Desktop Links -->
      <Desktop es={es} />

      <!-- Mobile Menu Button -->
      <MobileMenuButton />
    </div>
  </div>

  <!-- Mobile Menu -->
  <Mobile es={es} />
</nav>
